* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Quicksand', sans-serif;
}

:root {
    --main-background: #121f3d;
    --secondary-background: #080c1c;
    --header-background: #0d1733;
    --white: #d9d2ce;
    --main-green: #acea42;
    --hover-green: #c1df8b;
    --sm: 1.6rem;
    --md: 1.8rem;
    --lg: 2rem;
}

.header {
    background-color: var(--header-background);
    color: var(--white);
    font-size: var(--sm);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-background);
}

.main {
    background-color: var(--main-background);
    color: var(--white);
    width: 100%; 
    padding-top: 140px;
    text-align: center;
    /* display: grid;
    place-items: center; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.main__title {
    font-size: var(--lg);
    color: var(--black);
    position: absolute;
    top: 28px;
    width: 82%;
}
.card__container {
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-background);
    width: 84%;
    max-width: 450px;
}
.form-container {    
    width: 100%;
}
.form {
    height: auto;
    width: 100%;
    padding: 28px;
    padding-bottom: 16px;
}
.form__title {
    font-size: var(--md);
    margin-bottom: 42px;
}
.input {
    text-align: start;
    font-size: var(--sm);
}
.input__entry {
    border: 1px solid var(--main-green);
    border-radius: 10px;
    width: 100%;
    height: 35px;
    margin: 24px 0 14px;
    background-color: var(--main-background);
    color: var(--white);
    padding: 0 15px;
}
.input__entry::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.form__buttons {
    padding-top: 14px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button {
    background-color: var(--main-green);
    color: var(--secondary-background);
    width: 108px;
    padding: 5px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    margin-bottom: 12px;
}
.button:hover {
    background-color: var(--hover-green);
}
.result {
    height: 60px;
    background-color: var(--secondary-background);
    width: 100%;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: var(--sm);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-green);
}

/* .menu{
    position: absolute; 
    top: 146px;
} */
.menu__list {
    list-style: none;
    display: flex;
    gap: 15px;
}
.menu__item{
    text-decoration: none;
    color: var(--white);
    font-size: var(--sm);
    padding: 5px 10px;
}
.active {
    border-top: 1px solid var(--main-green);
    border-bottom: 1px solid var(--main-green);
    color: var(--main-green);
}
.menu__item:hover {
    border-top: 1px solid var(--main-green);
    border-bottom: 1px solid var(--main-green);
    color: var(--main-green);
}

.triangle-form {
    display: none;
}
.circle-form {
    display: none;
}