/*---------------------------HEADER----------------------*/

.nav-bar__list {
    justify-content: space-around;
}
.nav-bar__item {
    height: 100%;
    list-style: none;
    display: flex;
}
.nav-bar__link {
    color: var(--white);
    text-decoration: none;
    font-size: var(--sm);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    text-align: center;
}
.nav-bar__link:hover {
    color: var(--white-hover);
}
.menu {
    display: none;
}
.search__icon {
    width: 16px;
    height: 16px;
}
.search__icon img{
    width: 16px;
    height: 16px;
}

/*------------------------------------------MAIN---------------------------*/
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__title {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: center;
}
.main__discount {
    width: 50%;
    order: 2;
}
.main__product {
    width: 50%;
    order: 3;
    border-top: none;
    border-left: 1px solid var(--grey);
    padding-top: 0;
}

/*-------------------------------------------CARD-------------------------*/

.product__container {
    max-width: 428px;
}