* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
    --white: #d4d5d4;
    --white-hover: #f5f5f7;
    --black: #2b2a2d;
    --grey: #bbb;
    --grey-bg: #f5f5f7;
    --blue: #0071e3;
    --light-blue: #06c;
    --product-color-1: #afb2b5;
    --product-color-2: #e0e1e0;
    --sm: 1.2rem;
    --md: 1.6rem;
    --md-2: 2.2rem;
    --lg: 2.8rem;
}

/*-----------------HEADER---------------*/
.header {
    background-color: var(--black);
    width: 100%;
    height: 44px;
    max-height: 44px;
    display: flex;
    justify-content: center;
}
.nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-bar__list {
    width: 94%;
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar__item {
    display: none;
}
.menu {
    display: flex;
}
.menu__icon {
    width: 26px;
    height: 26px;
}
.menu__icon img {
    width: 26px;
    height: 26px;
}
.logo {
    display: flex;
}
.logo__icon {
    width: 20px;
    height: 20px;
}
.logo__icon img{
    width: 20px;
    height: 20px;
}
.cart {
    display: grid;
}
.cart__icon {
    width: 20px;
    height: 20px;
}
.cart__icon img{
    width: 20px;
    height: 20px;
}

/*-----------------MAIN---------------*/
.main {
    display: grid;
    grid-template-rows: 1fr auto auto;
    place-items: center;
    width: 100%;
    background-color: var(--grey-bg);
}
.main__title {
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    font-size: var(--lg);
    padding: 0 20px;
}
.main__discount {
    width: 100%;
    padding-bottom: 100px;
}
.main__product {
    width: 100%;
    border-top: 2px solid var(--grey);
    padding: 100px 0;
    display: grid;
    place-items: center;
}
/*-----------------FORM---------------*/
.discount__form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    gap: 34px;
}
.input {
    width: 320px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid var(--grey);
    background-color: transparent;
    font-size: var(--md);
    color: var(--black);
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    display: grid;
    grid-template-areas: "select";
}
.input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
}
.button {
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 18px;
    background-color: var(--blue);
    color: var(--white-hover);
    font-size: 1.3rem;
}
.button:hover {
    background-color: var(--light-blue);
}

/* ----------------CARD-------------- */

.product__container {
    width: 60%;
    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
    place-items: center;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 16%);
    padding: 40px;
    transition: all .3s cubic-bezier(0,0,.5,1);
    background-color: white;
}
.product__container:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 28%);
    transform: scale3d(1.01,1.01,1.01);
}
.product__header {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
.product__name {
    font-size: var(--lg);
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 264px;
    max-height: 264px;
    padding-top: 28px;
}
.product__image {
    width: 100%;
    height: 100%;
}
.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product__colors {
    height: 66px;
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.product__colors .circle:first-child {
    background-color: var(--product-color-1);
}
.product__colors .circle:last-child {
    background-color: var(--product-color-2);
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.product__prices {
    width: 66%;
    height: 66px;
    display: flex;
    align-items: center;
    font-size: var(--md);
    text-align: start;
}
.product__button {
    margin: 22px 0;
}